.vbox_background_center{
    -fx-background-image:url("/images/newbackground.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
.vbox_background_right{
    -fx-background-image:url("../../res/images/icon.jpg");
}
.vbox_background_left{
    -fx-background-image:url("../../res/images/newbackground.jpg");
}

.button:selected {
    -fx-background-color: yellow;
    -fx-text-fill: black;
}

