@font-face {
    font-family: 'Poppins';
    src: url(../../assets/fonts/Poppins-Regular.otf);
}
@font-face {
    font-family: 'Poppins Medium';
    src: url(../../assets/fonts/Poppins-Medium.otf);
}
@font-face {
    font-family: 'Poppins SemiBold';
    src: url(../../assets/fonts/Poppins-SemiBold.otf);
}
@font-face {
    font-family: 'Poppins Bold';
    src: url(../../assets/fonts/Poppins-Bold.otf);
}
@font-face {
    font-family: 'Poppins ExtraBold';
    src: url(../../assets/fonts/Poppins-ExtraBold.otf);
}
@font-face {
    font-family: 'Poppins Black';
    src: url(../../assets/fonts/Poppins-Black.otf);
}

body {
    background-color: #F5F7FA;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    background-color: #1A3B5D;
}

.logo img {
    width: 90px;
    margin-left: 10px;
}
.right-section {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar nav ul li {
    position: relative;
    list-style: none;
}

.navbar nav ul li a {
    color: #fff;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 18px;
}

.navbar ul li a:hover {
    background-color: rgba(83, 142, 209, 0.33);
}

/* Dropdown menu */
.navbar nav ul li ul {
    position: absolute;
    background-color: #1A3B5D;
    display: none;
    z-index: 999;
    width: 200px;
}

.navbar nav ul li ul li {
    position: relative;
    width: 100%;
    padding: 0;
}

.navbar ul li ul li a {
    text-align: left;
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    padding-top: 10px;
}

.navbar ul li ul li a:hover {
    background-color: #476B92;
}
.dropdown-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

#equipment-arrow {
    font-size: 12px;
    margin-left: 5px;
    vertical-align: middle;
    color: #fff;
}

#facilities-arrow {
    font-size: 12px;
    margin-left: 5px;
    vertical-align: middle;
    color: #fff;
}


/* Profile Section */
.user-profile {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 14px;
    text-align: right;
    margin-left: 40px;
    position: relative;
}
.user-profile-03 {
    width: 30px;
    height: 30px;
    background: url('../../assets/images/user.png') no-repeat center;
    background-size: cover;
    margin-right: 10px;
    display: inline-block;
}
.user-info {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}
.user-profile span {
    display: block;
    white-space: nowrap;
    font-size: 14px;
}
#user-arrow {
    font-size: 12px;
    margin-left: 5px;
    vertical-align: middle;
    color: #fff;
}
.user-dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #1A3B5D;
    list-style: none;
    padding: 0;
    z-index: 1000;
    width: 120px;
}
.user-dropdown-menu li {
    display: block;
    padding: 10px 15px;
    text-align: center;
}
.user-dropdown-menu li a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
}
.user-dropdown-menu li:hover {
    background-color: #476B92;
}

.user-dropdown-menu li a:hover {
    color: white;
}
.user-dropdown-menu.show {
    display: block;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1400px; 
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.dashboard-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1A3B5D;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-right: 400px;
    transition: font-weight 0.2s ease;
}

.back-icon {
    cursor: pointer;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    vertical-align: middle;
}

.back-link:hover {
    font-weight: bolder;
}

.title {
    text-align: center;
    align-items: center;
    margin: 40px;
}

.account-btn {
    display: inline-flex;
    align-items: center;
    background-color: #99a9df;
    color: #1F1F1F;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 390px;
}

.parent-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.search-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}

.search-bar {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    width: 300px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #99a9df;
}

.sort-dropdown {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.table-container {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}

.account-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.account-table th,
.account-table td {
    padding: 15px;
    text-align: left;
    font-size: 16px;
    border: 1px solid #ddd;
    word-wrap: break-word;
}

.account-table thead {
    background-color: #E4E4E4;
    border-bottom: 2px solid #D9D9D9;
}

.account-table tbody tr:nth-child(odd) {
    background-color: #F9F9F9;
}

.account-table tbody tr:nth-child(even) {
    background-color: #FFFFFF;
}

.account-table td .status {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}


.actions-btn {
    background-color: #007BFF; /* Bootstrap primary blue */
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative; /* For dropdown positioning */
}

.actions-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}



.actions-dropdown.show {
    display: block; /* Show the dropdown when active */
}


.actions-dropdown {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 0;
    border-radius: 5px;
    padding-left: 30px; /* Add padding to align text properly */
}

.action-item {
    list-style: none; /* Enable bullets */
    list-style-position: outside; /* Position bullets outside */
    padding: 10px 15px;
    cursor: pointer;
    color: #333; /* Text color */
    margin-left: -30px; /* Move bullets further to the left */
}

.action-item:hover {
    background-color: #f1f1f1; /* Hover effect */
}
/* User Type Modal Styles */
.usertype-modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
}

.usertype-modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
}

.usertype-header {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.user-selection select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.change-btn {
    display: block;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
}

.change-btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.change-btn:active {
    transform: translateY(0);
}

.close-button {
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    float: right;
}

.close-button:hover,
.close-button:focus {
    color: #d9534f;
    cursor: pointer;
}
/* Edit Modal Styles */
.edit-modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.edit-modal .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
}

.edit-modal h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.edit-modal input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#saveChanges {
    display: block;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
}

#saveChanges:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

#saveChanges:active {
    transform: translateY(0);
}

.close {
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    float: right;
}

.close:hover,
.close:focus {
    color: #d9534f;
    cursor: pointer;
}
/* Delete Modal Styles */
.delete-modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.delete-modal .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
}

.delete-modal h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

#confirmDelete {
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 15px;
}

#confirmDelete:hover {
    background-color: #c9302c;
    transform: translateY(-2px);
}

#confirmDelete:active {
    transform: translateY(0);
}

.cancel-btn {
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 15px;
}

.cancel-btn:hover {
    background-color: #5a6268;
    transform: translateY(-2px);
}

.cancel-btn:active {
    transform: translateY(0);
}
